.ownerPlaylistContainer {
    background: linear-gradient(to right, #F5E8F1, #F6E3E7, #C8D5E3);
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
  }
  
  .playlist-header {
    display: flex;
    align-items: center;
  }
  
  .playlistName {
    margin-top: 70px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .playlist-info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .playlist-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
  }
  
  .playlist-cover img {
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
  }
  
  .playlist-title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
  }
  
  .playlist-description {
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
  }
  
  .edit-button {
    background-color: #A9A9C6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 900px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .edit-button:hover {
    background-color: #C9BAD3;
  }
  .songs-table thead th {
    border-bottom: 2px solid #ccc;
  }
  
  .songs-table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 80px;
    margin-top: -20px;
  }
  
  .songs-table th, .songs-table td {
    padding: 15px 10px;
    text-align: left;
    color:gray
  }
  
  .songs-table td input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .check{
    background-color: #F5E8F1;
    border-color: #F5E8F1;
  }